html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcfcfc;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fbff85' fill-opacity='0.55' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}
h3,h2{
    font-family: 'Press Start 2P', cursive;
}
button{
    background-color: #534F50!important;
    
}
.contenedor{
    /* max-width: 150rem; */
    width: 90%;
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.contenedor-interno{
    width: 50rem;
    height: 70rem;
    /* background-color: aquamarine; */
    display: grid;
    grid-template-rows: 48%  2% 50%;
}
.pantalla{
    background-color: #A12621;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-box-shadow: 0px 5px 4px 2px rgba(0,0,0,0.39); 
box-shadow: 0px 5px 4px 2px rgba(0,0,0,0.39);
}
.pantalla-interna{
    width: 85%;

    height: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    background-color: white;
    border-radius: 15px;
    padding: 2rem;
    /* padding: 3rem; */

    background-color: #fcfcfc;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f2b3b3' fill-opacity='0.55' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    
}
.pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CEB3F2;
    border-radius: 15px;
}
.pokemon-interno{
    width: 95%;
    height: 95%;
    display: grid;
    grid-template-rows: 15% 85%;
}
.pokemon-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.pokemon-image{
display: flex;
justify-content: center;
align-items: center;
background-color: white;

}
.pokemon-img{
    width: 70%;
    height: 70%;
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #FFEB73;
}
.skills-interno{
    width: 95%;
    height: 95%;
    display: grid;
    grid-template-rows: 15% 85%;
}
.skills-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.info-static{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-dynamic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-dynamic>h3{
    background-color: aliceblue;
    border-radius: 5px;
    width: 80%;
    text-align: center;

    /* height: 100%; */
}
.herradura{
    /* background-color: blueviolet; */
    
    height: 100%;
    justify-content: space-around;
    display: flex;
}
.herradura-mayor{
    width: 50%;
    height: 100%;
    background-color: #A12621;
    
}
.herradura-menor{
    width: 10%;
    height: 100%;
    background-color: #A12621;
}
.controles{
    background-color: #A12621;
    display: grid;
    grid-template-rows: 10% 70% 20%;
    border-radius: 15px;
    -webkit-box-shadow: 0px 5px 4px 2px rgba(0,0,0,0.39); 
    box-shadow: 0px 5px 4px 2px rgba(0,0,0,0.39);
}
.control-start{
   display: flex;
   justify-content: center;
   align-items: center;
}
.control-start>button{
    width: 2rem;
    height: 2rem;
    background-color: black;
    border-radius: 50%;
}
.control-move{
    display: grid;
    grid-template-columns: 45% 10% 45%;
}
.cruz-control{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-control{
    width: 17rem;
    height: 17rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 5px 4px 2px rgba(0,0,0,0.39); 
box-shadow: 0px 5px 4px 2px rgba(0,0,0,0.39);
}
.circle-control>div>button{
    background-color: black;
    margin: 0;
    width: 4rem;
    height: 4rem;
    /* border: 0; */
    padding: 0;
}
.circle-top>button{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.circle-med>button:nth-child(1){
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.circle-med>button:nth-child(3){
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.circle-bot>button{
    border-bottom-left-radius: 20px;

    border-bottom-right-radius: 20px;
}
.ventilacion{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.ventilacion>div>div{
    font-size: 2rem;
    line-height: 1rem;
    letter-spacing: 1rem;
    margin-left: 1rem;
}
.ab-control{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-ab{
    width: 65%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: rotate(-30deg);
    border-radius: 30px;
    -webkit-box-shadow: 0px 5px 4px 2px rgba(0,0,0,0.39); 
box-shadow: 0px 5px 4px 2px rgba(0,0,0,0.39);
}
.container-ab>button{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    transform: rotate(30deg);
}
.control-click{
    display: flex;
    justify-content: center;
    
    align-items: center;
}
.control-click>button{
    width: 4rem;
    height: 4rem;
    background-color: black;
    border-radius: 50%;
    /* margin-left: 2rem; */
}
.control-click>button:nth-child(2n){
    margin-left: 2rem;
}
